/*Format the main heading*/
h1 {
    color:navy;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: burlywood;
  }

/*navigation bar*/
/* Style the top navigation bar */
.topnav {   
    overflow: hidden;   
    background-color: navy;
    }
/* Style the topnav links */
.topnav a {
    float:left;   
    display: block;
    color:white;   
    text-align: center; 
    padding-top: 14px;
    padding-bottom: 14px;
    width: 20%;    
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
}
/* Change color on hover */
.topnav a:hover {   
    background-color: lightblue;
        color:black;
    }


  /*style the h2*/
h2 {
    color: brown;
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-size: 5vw;
    text-align: center;
}
/*style the h3*/
h3 {
    color: navy;
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;    
    font-size: 4vw;
    text-align: center;

}

/*style the p*/
p {
    font-family: 'Calibri','Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    font-size: 3vw;
    text-align: center;
}
/* Create two equal columns that float next to
 each other */
 .column {
    float:left;
    width:50%;      
}
 
/* Clear floats after the columns */
.row:after {
   content: "";   
    display: table;
    clear:both;
}


/* Use a media query to add a break point at 800px for columns: */
@media screen and (max-width:800px) {
    .column {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

/*centre the images*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    height: auto;
    padding-top: 3vw;

  }

/* style the footer*/
.footer {
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 2vw; 
    color: black;
    background-color:burlywood;  
    text-align: center;   
    padding: 15px;
}      

